{% extends 'base.html '%}
{% load static %}

    
    {% block head %}
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <!--CSS-->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
      <link rel="stylesheet" href="{% static 'css/loader.css'  %}">
      <link rel="stylesheet" href="{% static 'css/form.css'  %}">

      <script src="https://use.fontawesome.com/a39946fcdf.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://kit.fontawesome.com/fe2108eefd.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block body %}
    <!-- Body Start -->
    <div class="container card bg-white border">
        <!-- Title Start -->
        <div id="card-header" class="card-header bg-dark text-light">
            <h1 class="text-center">Available Movies</h1>
        </div>
        
        
        <!-- Cards Start -->
        <div class="row">
            <div class="col-9 row" style="padding: 4%;">

                {% for movie in movies %}
                    <div class="col-4" style="margin-bottom: 2%">
                        <div class="card text-center align-middle">
                            <div class="card-header" style="height: 100px;">
                                <h5 class="card-title" name="title">{{movie.title}}</h5>
                            </div>
                            <img src="{{MEDIA_URL}}{{movie.images}}" class="card-img-top" alt="..." style="max-width: 100%; height: 300px;">
                            <div class="card-body text-truncate" style="height: 90px;">
                                <p class="card-text" name="genres">{{movie.genres}}</p>
                                <p class="card-text" name="price">&#8369; {{movie.price}}</p>
                            </div>
                            <div class="card-footer text-center" >
                                <button type="button" class="btn btn-success btn-lg ticketBtn" data-clicked="F" data-price="{{movie.price}}" id="{{movie.title}}" data-movie="{{movie.id}}"><i class="fas fa-ticket-alt"></i></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Cards End -->

            <hr>
            <div class="col-3 mt-5 pl-0  d-block position-relative">
                <div class="col-12 row position-sticky" style="position: sticky; top: 0;">
                
                    <div class="col-12">
                        <!-- Title End -->
                        <div class="d-block w-100 pt-2" >
                            <p>ID: {{customer.id}} </p>
                            <p> Name: {{customer.last_name}} {{customer.first_name}} </p>
                        </div>
                        <div class="text-left">
                            <h4>Cart
                                <span class="price" style="color:black">
                                <i class="fa fa-shopping-cart"></i>
                                <b id="quantity">0</b>
                                </span>
                            </h4>
                            <table class="orders text-left" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Items</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody class="items">

                                </tbody>

                                <tfoot class="pt-3">
                                    <tr>
                                        <td><b>Total: </b></td>
                                        <td>&#8369; <span id="total">0</span></td>
                                    </tr>                        
                                </tfoot>                 
                            </table>
                        </div>
                    </div>

                    <form method="POST" class="text-right w-100" action="{% url 'order:customer-order' %}">
                        {% csrf_token %}
                        <!-- These are hidden inputs -->
                        <!-- there values are set in the javascript below -->
                        <input name="total" hidden>
                        <input name="quantity" hidden>
                        <input name="customer_id" value="{{customer.id}}" hidden>

                        <!-- when this button is click, it will be redirected to tha action url in the form -->
                        <button type="submit" class="btn btn-success float-rignt" id="orderBtn" style="margin-top: 2rem;"> <h4> Place Order </h4> </button>
                    </form>

                </div>
            </div>

        </div>

    </div>

    <!-- Body End -->
    {% endblock %}

    {% block scripts %}    
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    
    <script type="text/javascript">
        // custom attributes
        // data-movie
        // data-price
        // data-clicked

        //ticketBtns
        //red = reserved
        //green = available
        const tickets = document.querySelectorAll('.ticketBtn');

        //to display 
        const totalPrice = document.querySelector('#total')

        //to display
        const quantityItems = document.querySelector('#quantity');

        //a hidden input, used for sending total
        const totalInput = document.querySelector("input[name=total]");

        //a hidden input, used for sending quantity
        const quantityInput = document.querySelector("input[name=quantity]");

        //initial values
        let total = 0;
        let quantity = 0;

        //iterate all ticket buttons
        tickets.forEach(ticket => {
             
            //add event listener to all ticket buttons
            ticket.addEventListener('click', () => {

                // F => means this ticket button is not reserved
                if(ticket.getAttribute("data-clicked") == 'F'){
                    ticket.classList.add("btn-danger");

                    // T => means this this ticket button is reserved
                    ticket.setAttribute("data-clicked", 'T');

                    // add the price of this ticket to the total
                    total += parseInt(ticket.getAttribute('data-price'));

                    // increment the quantity items
                    quantity += 1;

                    // create hidden input in storing movie id selected
                    $('<input>').attr({
                        type: 'hidden',
                        id: `movie${ticket.getAttribute('data-movie')}`,
                        name: 'movie',
                        value: ticket.getAttribute('data-movie')
                    }).appendTo('form');

                    $('.items').append(`
                        <tr id='title${ticket.getAttribute('data-movie')}'>
                            <td>${ticket.id}</td>
                            <td>&#8369; ${ticket.getAttribute('data-price')}</td>
                        </tr> 
                    `);

                }
                else{
                    // T => means this this ticket button is not reserved
                    ticket.setAttribute("data-clicked", 'F');
                    ticket.classList.remove("btn-danger");

                    // substract the price of this ticket to the total
                    total -= parseInt(ticket.getAttribute('data-price'));

                    // decrement the quantity items
                    quantity -= 1;

                    // delete hidden input in storing movie id selected
                    $(`#movie${ticket.getAttribute('data-movie')}`).remove();
                    $(`#title${ticket.getAttribute('data-movie')}`).remove();
                    
                }

                // display the total quantity and price in the UI
                quantityItems.innerHTML = quantity;
                totalPrice.innerHTML = total;

                // set the values for hidden inputs - total & quantity
                totalInput.value = total;
                quantityInput.value = quantity;

            });
            ;   
        })


    </script>
    
    {% endblock %}