{% extends 'base.html '%}
{% load static %}

    
    {% block head %}
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <!--CSS-->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
      <link rel="stylesheet" href="{% static 'css/loader.css'  %}">
      <link rel="stylesheet" href="{% static 'css/form.css'  %}">

      <script src="https://use.fontawesome.com/a39946fcdf.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://kit.fontawesome.com/fe2108eefd.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block body %}
    <!-- Body Start -->
    <div class="container card bg-white border">
        <!-- Title Start -->
        <div id="card-header" class="card-header bg-dark text-light">
        <h1 class="text-center">Available Movies</h1>
        </div>
        <!-- Title End -->

        <!-- Cards Start -->
        <div class="row" style="padding: 4%;">
            {% for movie, json_movie in movies %}
                <div class="col-sm-3" style="margin-bottom: 2%">
                <div class="card text-center" movie-json="{{json_movie}}">
                    <div class="card-header">
                        <h5 class="card-title" name="title">{{movie.title}}</h5>
                        </div>
                    <img src="{{MEDIA_URL}}{{movie.images}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" names="genres">{{movie.genres}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success btn-lg" id="addBtn" data-target=""><i class="fas fa-ticket-alt"></i></button>
                    </div>
                </div>
                </div>
            {% endfor %}
            

        </div>
        <!-- Cards End -->

        <hr>
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-4 offset-md-4 text-center" style="padding-left: 4%; padding-right: 4%; padding-bottom: 4%;">
                <h3> Total: <span>&#8369;</span> 100.00 </h3>
                <button class="btn btn-success btn-md" id="orderBtn" data-target=""> <h4> Place Order </h4> </button>
            </div>
        </div>

    </div>
    <!-- Body End -->
    {% endblock %}

    {% block scripts %}    
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% endblock %}