{% extends 'base.html' %}
{% load static %}

    {% block head %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <!-- CSS  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard-style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}">
        
        <!-- For Tables -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/table-responsive.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/b-print-1.6.3/fh-3.1.7/sp-1.1.1/datatables.min.css"/>
        

        <!-- For Modals -->
        <link rel="stylesheet" href="{% static 'css/modal-css/modal.css' %}">
        <!--<script src="https://use.fontawesome.com/a39946fcdf.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://kit.fontawesome.com/fe2108eefd.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block body %}
        <!-- Body Start-->
        
        <div class="container card bg-white border">
            <!-- Title Start-->
            <div id="card-header" class="card-header bg-dark text-light">
                <h2 class="text-center" style="font-weight: 500;">DVD Report Summary</h2>
                <a href="/movie/register" class="btn btn-warning btn-xs text-center" id="addBtn"><i class="fa fa-plus fa-2x"></i></a>
            </div>
            <!-- Title End-->

            <!--Table-->
            <div style="margin: 50px"><section id="no-more-tables">
                <div class="date-range">
                    <label>from</label>
                    <input id="min-date" type="date" />
                    <label>to</label>
                    <input id="max-date" type="date" />
                    <button class="btn btn-light ml-2" id="refresh-btn"><i class="fas fa-redo" ></i></button>
                </div>
                
                <section>
                    <table class="table table-striped table-hover data-table" id="table">

                        <thead>
                            <tr>
                                <th>Date Registered</th>
                                <th>Genre</th>
                                <th>Title</th>
                                <th>Release Date</th>
                                <th>Price</th>
                                <th>No. of Items</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-09-01</td>
                                <td data-title="Genre" class="align-middle">Horror</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-12-01</td>
                                <td data-title="Genre" class="align-middle">Horror</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-02-01</td>
                                <td data-title="Genre" class="align-middle">Horror</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-05-01</td>
                                <td data-title="Genre" class="align-middle">Romance</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-09-01</td>
                                <td data-title="Genre" class="align-middle">Action</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-12-01</td>
                                <td data-title="Genre" class="align-middle">Horror</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-02-01</td>
                                <td data-title="Genre" class="align-middle">Horror</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Date Registered" class="align-middle">2020-05-01</td>
                                <td data-title="Genre" class="align-middle">Horror</td>
                                <td data-title="Title" class="align-middle">Madilim Na</td>
                                <td data-title="Release Date" class="align-middle">Jan 1, 1800</td>
                                <td data-title="Price" class="align-middle">258.50</td>
                                <td data-title="No. of Items" class="align-middle">100 pcs</td>
                                <td class="align-middle">
                                    <button class="btn btn-success btn-xs" id="viewBtn"   data-toggle="modal" data-target="#modal-view">  <i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger  btn-xs" id="deleteBtn" data-toggle="modal" data-target="#modal-delete"><i class="fas fa-trash-alt "></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </section> 
            </div>
            <!--Table End-->
        </div>
        <!-- Body End-->
        
        <!-- DVD Modal Start -->
        <div class="modal fade" id="modal-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white" id="modal-header">
                        <h2 class="modal-title" id="modal-title">View</h2>
                        <button id="closeBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white" style="font-size: 48px;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <!-- Circles which indicates the steps of the form: -->
                        <div class="steps-indicator" style="position: relative">
                            <span id="customer-step" class="step"></span>
                            <span id="customer-step" class="step"></span>
                            <span id="customer-step" class="step"></span>
                            <span id="customer-step" class="step"></span>
                            <button class="btn btn-primary btn-xs" id="editBtn" style="position:absolute; right: 1.2rem; top: -0.5rem"><i class="fa fa-pen" id="editBtnIcon"></i></button>
                        </div>
                        
                        <form class="customer-form card-body" id="regForm" action="" autocomplete="off">
                            <div class="tab-holder container-fluid customer-form-body">
                            <!-- Movie Tab -->
                            <div class="tab w3-animate-left" id="dvd-tab-content">
                                <div class="form-row">
                                <div class="col-md-12 mb-4 text-primary">
                                    <h2 class="text-center" style="font-weight: 500;">Movie Details</h2>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Title</label>
                                    <input name="title" id="input-text" type="text" class="form-control" placeholder="Title" value="Title" disabled>
                                    <div class="invalid-feedback">
                                        Please provide a valid Title.
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Release Date</label>
                                    <input name="release_date"id="input-text" type="date" class="form-control" placeholder="Release Date" value="2014-02-09" disabled>
                                    <div class="invalid-feedback">
                                    Please provide a valid Date.
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Director</label>
                                    <input name="director-name" id="input-text" type="text" class="form-control" placeholder="Name" value="Director" disabled>
                                    <div class="invalid-feedback">
                                    Please provide a valid Director.
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-xs-4">
                                    <label>Price</label>
                                    <input class="form-control" name="price" id="input-text" type="number" min="0.01" step="0.01" max="2500" value="0" disabled/>
                                    <div class="invalid-feedback">
                                    Please provide a valid Price.
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-xs-4">
                                    <label>No. of Items</label>
                                    <input name="release_date" id="input-text" type="number" min="1" max="100" class="form-control" value="1" placeholder="1"  disabled>
                                </div>
                                </div>
                            </div>
                            <!-- Movie Tab End-->
                    
                            <!-- Genre Tab -->
                            <div class="tab w3-animate-left" id="dvd-tab-content">
                                <div class="form-check form-row">
                                <div class="col-md-12 mb-4 text-primary">
                                    <h2 class="text-center" style="font-weight: 500;">Genres</h2>
                                </div>
                                <div class="form-group row">
                                    <ul class="list-group list-group-flush col-md-4">
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check1">Romance</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check2">Action</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check3">Mystery</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check4">Horror</label>
                                        </div>
                                    </li>
                                    </ul>
                                    <ul class="list-group list-group-flush col-md-4">
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check5">Sci-fi</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check6">Fantasy</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check7">Historical Fiction</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check8">Suspense</label>
                                        </div>
                                    </li>
                                    </ul>
                                    <ul class="list-group list-group-flush col-md-4">
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check9">Comedy</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check10">Anime</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check11">Cartoon</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="input-text" disabled>
                                        <label class="custom-control-label" for="check12">Spy</label>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                                
                                </div>
                            </div>
                            <!-- Genre Tab End-->
                    
                            <!-- Movie Casts Tab -->
                            <div class="tab w3-animate-left" id="dvd-tab-content">
                                <div class="form-row">
                                <div class="col-md-12 mb-4 text-primary">
                                    <h2 class="text-center" style="font-weight: 500;">Movie Casts</h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 row">
                                        <div class="form-group col-md-12">
                                        <label>First Name</label>
                                        <input name="first_name" type="text" class="form-control" id="input-text" placeholder="First Name" disabled>
                                        </div>
                                        <div class="form-group col-md-10">
                                        <label>Last Name</label>
                                        <input name="last_name" type="text" class="form-control" id="input-text" placeholder="Last Name" disabled>
                                        </div>
                                        <div class="form-group col-md-2 mt-auto">
                                        <btn class="btn btn-info mt-auto" id="add-btn-cast" >Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="casts-body-table">  
                                    </tbody>
                                    </table>
                                </div>
                    
                                </div>
                            </div>
                            <!-- Movie Casts Tab end-->
                    
                            <!-- DVD Images Tab -->
                            <div class="tab w3-animate-left" id="dvd-tab-content">
                                <div class="form-row">
                                <div class="col-md-12 mb-4 text-primary">
                                    <h2 class="text-center" style="font-weight: 500;">DVD Images</h2>
                                </div>
                                <div class="form-group col-md-4 offset-md-4">
                                    <input type="file" id="input-text" name="dvd_images[]" multiple disabled>
                                </div>
                                </div>
                            </div>
                            <!-- DVD Images Tab-->
                            </div>
                            
                            <!-- Navigation Buttons -->
                            <div class="forms-btn form-row" style="overflow:auto; display: fixed;display: fixed;">
                                <div class="form-group offset-md-6 col-md-3 col-sm-6">
                                    <button class="btn btn-outline-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                                    <button class="js-btn-next btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                </div>
                            </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-danger col-sm-2 d-none" data-dismiss="modal" id="discardBtn">Discard</button>
                                <button type="submit" class="btn col-md-4 col-sm-6 btn-primary btn-success d-none" id="saveBtn">Save changes</button>
                            </div>
                    
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--DVD Modal End-->
                    
        <!-- Delete Modal Start -->
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white" id="modal-header">
                        <h2 class="modal-title" id="modal-title">Delete</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white" style="font-size: 48px;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 style="text-align: center;">Are you sure you want to permanently delete this record?</h4>                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn col-md-2 col-sm-2 btn-primary btn-secondary d-none" id="cancelBtn" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-secondary btn-danger col-md-4 col-sm-4 d-none"  id="deleteBtn">Delete Record</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->
    {% endblock %}
    
    {% block scripts %}
        <!-- Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        <!-- Data Table Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/b-print-1.6.3/fh-3.1.7/sp-1.1.1/datatables.min.js"></script>
       
        <script>
            $(document).ready(function() {
                $('.data-table').DataTable({
                    dom: 'Bfrtip',
                    buttons: ['copy', 'excel', 'csv', 'pdf'],

                    lengthMenu: [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                    searching: true,

                    dom: '<<"row"<"col-sm-4"l><"col-sm-4"B><"col-sm-4"f>> rt <"float-left"i> <"float-right"p>>',

                    pagingType: 'full_numbers',
                    fixedHeader: true,
                    aoColumnDefs: [{
                        'bSortable': false,
                        'aTargets': [-1]
                    }]
                });

                let table = $('.data-table').DataTable();
                
                // Add event listeners to the two range filtering inputs
                $('#min-date').keyup( function() { table.draw(); } );
                $('#max-date').keyup( function() { table.draw(); } );

                $('#min-date').change( function() { table.draw(); } );
                $('#max-date').change( function() { table.draw(); } );

                $('#refresh-btn').click( () => {
                    $('#min-date').val("");
                    $('#max-date').val("");

                    table.draw();
                });

                $.fn.dataTableExt.afnFiltering.push(
                    ( settings, data, dataIndex ) => {
                        let minDate = $('#min-date').val();
                        let maxDate = $('#max-date').val();
                        let date = data[0].trim();

                        if (minDate === '' || maxDate === '')
                            return true;
                        if (date >= minDate && date <= maxDate)
                            return true;
                        else 
                            return false;
                    }
                );
            });
        </script>
        

        <!-- Modals Scripts -->
        <script src="{% static 'js/modal-js/app.js' %}"></script>
        <script src="{% static 'js/modal-js/upload.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/modal-js/casts.js' %}"></script>
        <script src="{% static 'js/modal-js/view-edit.js' %}"></script>
    {% endblock %}
