{% extends 'base.html' %}
{% load static %}

    {% block head %}
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      
      <!--CSS-->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static 'css/dashboard-style.css'  %}">
      <link rel="stylesheet" href="{% static 'css/loader.css'  %}">
      <link rel="stylesheet" href="{% static 'css/form.css'  %}">
      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    {% endblock %} 

    {% block body %}
      <!-- Body Start -->
      <div class="container card bg-white border">

        <!-- Title Start -->
        <div id="card-header" class="card-header bg-dark text-light" style="width: 100%">
          <h1 class="text-center" style="font-weight: 500;">DVD Registration</h1>
        </div>
        <!-- Title End -->    
        
          <!-- Circles which indicates the steps of the form: -->
          <div id="form-indicator" style="text-align:center;margin-top:40px;" class="">
              <span id="dvd-step" class="step"></span>
              <span id="dvd-step" class="step"></span>
              <span id="dvd-step" class="step"></span>
              <span id="dvd-step" class="step"></span>
          </div>

          <div id="loader" class="lds-roller d-none align-self-center"  style="margin-top: auto; margin-bottom: auto;">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
          </div>
          <div id="success-indicator" class="d-none align-self-center text-center" style="margin-top: auto; margin-bottom: auto;">
            <!-- success indicator-->
            <img class="img-fluid" id="img-indicator" src="{% static 'img/success-popcorn.gif' %}"><br>
            <h3 class="text-indicator">Yet another remarkable film to watch!</h3>
            <p class="text-indicator">“The whole of life is just like watching a film. 
                                    Only it's as though you always get in ten minutes after the big picture has started, 
                                    and no-one will tell you the plot, so you have to work it out all yourself from the clues.”
                                    <br>― Terry Pratchett, Moving Pictures</p>
          </div>
          <div id="failed-indicator" class="d-none align-self-center text-center" style="margin-top: auto; margin-bottom: auto;">
            <!-- failed indicator-->
            <img class="img-fluid" id="img-indicator" src="{% static 'img/fail-ohno.gif' %}"><br>
            <h3 class="text-indicator">Please try again.</h3>
            <p class="text-indicator">If at first you don't succeed, try, try, try again.</p>
          </div>
        
          <!-- DVD Form Start-->
          <form class="customer-form card-body" method="" id="movie-form" action="" enctype="multipart/form-data" autocomplete="off">
            
            {% csrf_token %}
            <!-- Form Container Start -->
            <div class="tab-holder container-fluid">

              <!-- Movie Tab Start -->
              <div class="tab w3-animate-left" id="dvd-tab-content">
                <div class="form-row">
                  <div class="col-md-12 mb-4 text-primary">
                    <h2 class="text-center" style="font-weight: 500;">Movie Details</h5>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Title</label>
                    <input name="title" id="input-text" type="text" class="form-control" placeholder="Title">
                    <div class="invalid-feedback">
                      Please provide a valid Title.
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Release Date</label>
                    <input name="release_date" id="input-text" type="date" class="form-control" placeholder="Release Date" >
                    <div class="invalid-feedback">
                      Please provide a valid Date.
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Director</label>
                    <input name="director" id="input-text" type="text" class="form-control" placeholder="Director's Name">
                    <div class="invalid-feedback">
                      Please provide a valid Director.
                    </div>
                  </div>
                  <div class="form-group col-md-4 col-xs-4">
                    <label>Price</label>
                    <input name="price"  class="form-control" id="input-text" type="number" min="0.01" step="0.01" max="2500" placeholder="0"/>
                    <div class="invalid-feedback">
                      Please provide a valid Price.
                    </div>
                  </div>
                  <div class="form-group col-md-4 col-xs-4">
                    <label>No. of Items</label>
                    <input name="no_items" id="input-text" type="number" min="1" max="100" class="form-control" placeholder="0">
                    <div class="invalid-feedback">
                      Please provide a valid number of items.
                    </div>
                  </div>
                </div>
              </div>
              <!-- Movie Tab End-->

              <!-- Genre Tab Start -->
              <div class="tab w3-animate-left" id="dvd-tab-content">
                <div class="form-check form-row">
                  <div class="col-md-12 mb-4 text-primary">
                    <h5 class="text-center" style="font-weight: 500;">Genres</h5>
                  </div>
                  <div class="form-group row">
                    <ul class="list-group list-group-flush col-md-4">
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre" type="checkbox" class="custom-control-input" id="check1" value="Romance" >
                          <label class="custom-control-label" for="check1">Romance</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check2" value="Action">
                          <label class="custom-control-label" for="check2">Action</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check3" value="Mystery">
                          <label class="custom-control-label" for="check3">Mystery</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check4" value="Horror" >
                          <label class="custom-control-label" for="check4">Horror</label>
                        </div>
                      </li>
                    </ul>
                    <ul class="list-group list-group-flush col-md-4">
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check5" value="Sci-fi">
                          <label class="custom-control-label" for="check5">Sci-fi</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check6" value="Fantasy">
                          <label class="custom-control-label" for="check6">Fantasy</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check7" value="Historical Fiction">
                          <label class="custom-control-label" for="check7">Historical Fiction</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check8" value="Suspense">
                          <label class="custom-control-label" for="check8">Suspense</label>
                        </div>
                      </li>
                    </ul>
                    <ul class="list-group list-group-flush col-md-4">
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check9" value="Comedy">
                          <label class="custom-control-label" for="check9">Comedy</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check10" value="Anime">
                          <label class="custom-control-label" for="check10">Anime</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check11" value="Cartoon">
                          <label class="custom-control-label" for="check11">Cartoon</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input name="genre"  type="checkbox" class="custom-control-input" id="check12" value="Spy">
                          <label class="custom-control-label" for="check12">Spy</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
                </div>
              </div>
              <!-- Genre Tab End-->

              <!-- Movie Casts Tab Start -->
              <div class="tab w3-animate-left" id="dvd-tab-content">
                <div class="form-row">
                  <div class="col-md-12 mb-4 text-primary">
                    <h5 class="text-center" style="font-weight: 500;">Movie Casts</h5>
                  </div>
                  <div class="col-md-6">
                      <div class="col-md-12 row">
                        <div class="form-group col-md-12">
                          <label>First Name</label>
                          <input name="first_name" type="text" class="form-control" id="first-name-cast" placeholder="First Name" >
                        </div>
                        <div class="form-group col-md-10">
                          <label>Last Name</label>
                          <input name="last_name" type="text" class="form-control" id="last-name-cast" placeholder="Last Name" >
                        </div>
                        <div class="form-group col-md-2 mt-auto">
                          <button class="btn btn-info mt-auto" id="add-btn-cast" >Add</button>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="casts-body-table">  
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
              <!-- Movie Casts Tab End-->

              <!-- DVD Images Tab Start -->
              <div class="tab w3-animate-left" id="dvd-tab-content">
                <div class="form-row">
                  <div class="col-md-12 mb-4 text-primary">
                    <h5 class="text-center" style="font-weight: 500;">DVD Images</h5>
                  </div>
                  <div class="form-group col-md-4 offset-md-4">
                    <input type="file" id="dvd-images" name="image" multiple>
                  </div>
                </div>
              </div>
              <!-- DVD Images Tab End-->
              
            </div>
            <!-- Form Container End -->
            
            <!-- Navigation Buttons -->
            <div class="forms-btn form-row" style="overflow:auto; display: fixed;">
              <div class="form-group offset-md-4 col-md-4 col-sm-6">
                <button class="btn btn-outline-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
              </div>
              <div class="form-group col-md-4 col-sm-6 col-xs-6">
                <button class="js-btn-next btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                <button class="js-btn-next btn btn-primary d-none btn-success" type="submit" id="submitBtn">Submit</button>
              </div>
            </div>

          </form>
          <!-- DVD Form End-->
    </div>
    <!-- Body End -->
  {% endblock %}

  {% block scripts %}
    <!-- Form Scripts -->
    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/casts.js' %}"></script>
    <script src="{% static '/js/fetch/movie-register-fetch.js'%}"></script>
    
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% endblock %}

