{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Website-->
        <title>Maison Lumière</title>
        <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">

        {% block head %}
        {% endblock %}
    
    </head>

    <!-- Navigation Start -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/" class="navbar-brand" id="logo-holder">
            <img id="logo" src="{% static 'img/maison-lumiere-logo.png' %}" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Registration</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/customer/register">Customer</a>
                <a class="dropdown-item" href="/movie/register">DVD</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Summary</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/customer">Customer</a>
                <a class="dropdown-item" href="/movie">DVD</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order/customers/">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            </ul>
        </div>
    </nav>
    <!-- Navigation End -->

    {% block body %}
    {% endblock %} 

    <!-- Footer Start -->
    <footer class="page-footer font-small bg-secondary text-white">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright Maison Lumière
        </div>
    </footer>
    <!-- Footer End -->

    {% block scripts %}
    {% endblock %}

    </body>
</html>
