{% extends 'base.html '%}
{% load static %}

    
    {% block head %}
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <!--CSS-->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
      <link rel="stylesheet" href="{% static 'css/loader.css'  %}">
      <link rel="stylesheet" href="{% static 'css/form.css'  %}">

      <script src="https://use.fontawesome.com/a39946fcdf.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}

    {% block body %}
    <!-- Body Start -->
      <div class="container card bg-white border">

        <!-- Title Start -->
        <div id="card-header" class="card-header bg-dark text-light">
          <h1 class="text-center">Customer Registration</h1>
        </div>
        <!-- Title End -->
        
        <!-- Circles which indicates the steps of the form: -->
        <div id="form-indicator" style="text-align:center;margin-top:40px;">
          <span id="customer-step" class="step"></span>
          <span id="customer-step" class="step"></span>
          <span id="customer-step" class="step"></span>
          <span id="customer-step" class="step"></span>
        </div>
        
        <div id="loader" class="lds-roller d-none align-self-center"  style="margin-top: auto; margin-bottom: auto;">
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div id="success-indicator" class="d-none align-self-center text-center" style="margin-top: auto; margin-bottom: auto;">
          <!-- success indicator-->
          <img class="img-fluid" id="img-indicator" src="{% static 'img/success-popcorn.gif' %}"><br>
          <h3>Nitwit! Blubber! Oddment! Tweak!</h3>
          <p>Happiness can be found even in the darkest of times, if one only remembers to turn on the light.
             <br>― Albus Dumbledore</p>
          <a class="btn btn-warning pl-2 pr-2 mb-2 text-white" href="{% url 'customer:register' %}">Register</a>
        </div>
        <div id="failed-indicator" class="d-none align-self-center text-center" style="margin-top: auto; margin-bottom: auto;">
          <!-- failed indicator-->
          <img class="img-fluid" id="img-indicator" src="{% static 'img/fail-ohno.gif' %}"><br>
          <h3 class="text-indicator">Please try again.</h3>
          <p class="text-indicator">If at first you don't succeed, try, try, try again.</p>
        </div>

        <!-- Customer Form Start-->
        <form class="customer-form card-body" method="" id="customer-form" action="/customer/register/" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
          <!-- Form Container Start -->
          <div class="tab-holder container-fluid">

            <!-- Basic Info Tab Start -->
            <div class="tab w3-animate-left" id="customer-tab-content">
              <div class="form-row">
                <div class="col-md-12 mb-4 text-primary">
                  <h2 class="text-center">Basic Information</h2>
                </div>
                <div class="form-group col-md-4 col-xs-4 ">
                  <label class="">Last Name <span style="color: red">*</span></label>
                  <input name="last_name" id="input-text" type="text" class="form-control" placeholder="Last Name" minlength="2" maxlength="50"> 
                  <div class="invalid-feedback">
                    Please provide a valid Last Name: 2 - 50 characters.
                  </div>
                </div>
                <div class="form-group col-md-4 col-xs-4 ">
                  <label>First Name <span style="color: red">*</span></label>
                  <input name="first_name" id="input-text" type="text" class="form-control" placeholder="First Name" minlength="2" maxlength="50">
                  <div class="invalid-feedback">
                    Please provide a valid First Name: 2 - 50 characters.
                  </div>
                </div>
                <div class="form-group col-md-4 col-xs-4 ">
                  <label>Middle Name</label>
                  <input name="middle_name" id="input-text" type="text" class="form-control" placeholder="Middle Name" minlength="0" maxlength="50" >
                  <!-- <div class="invalid-feedback">
                    Please provide a valid Middle Name.
                  </div> -->
                </div>
                <div class="form-group col-md-4 col-xs-4 ">
                  <label>Gender <span style="color: red">*</span></label>
                  <select name="gender" class="custom-select">
                    <option selected value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                  </select>
                </div>
                <div class="form-group col-md-4 col-xs-4 ">
                  <label>Status <span style="color: red">*</span></label>
                  <select name="status" class="custom-select">
                    <option selected value="SINGLE">Single</option>
                    <option value="MARRIED">Married</option>
                    <option value="DIVORCED">Divorced</option>
                    <option value="WIDOWED">Widowed</option>
                  </select>
                </div>
                <div class="form-group col-md-4 col-xs-4 ">
                  <label>Birthdate <span style="color: red">*</span></label>
                  <input name="birthdate" id="input-text" type="date" class="form-control" placeholder="Birthdate" >
                  <div class="invalid-feedback">
                    Please provide a valid Birthdate.
                  </div>
                </div>
              </div>
            </div>
            <!-- Basic Info Tab End -->

            <!-- Address Tab Start -->
            <div class="tab  w3-center w3-animate-left" id="customer-tab-content">
              <div class="form-row">
                <div class="col-md-12 mb-4 text-primary ">
                  <h2 class="text-center">Address</h2>
                </div>
                <div class="form-group col-md-4 col-xs-4 text-left ">
                  <label>Street <span style="color: red">*</span></label>
                  <input name="street" id="input-text" type="text" class="form-control" placeholder="Street" minlength="2" maxlength="50" >
                  <div class="invalid-feedback">
                    Please provide a valid Street: 2 - 50 characters.
                  </div>
                </div>
                <div class="form-group col-md-4 col-xs-4 text-left ">
                  <label>Barangay <span style="color: red">*</span></label>
                  <input name="barangay" id="input-text" type="text" class="form-control" placeholder="Barangay" minlength="2" maxlength="50">
                  <div class="invalid-feedback">
                    Please provide a valid Barangay: 2 - 50 characters.
                  </div>
                </div>
                <div class="form-group col-md-4 col-xs-4 text-left ">
                  <label>City <span style="color: red">*</span></label>
                  <input name="city" id="input-text" type="text" class="form-control" placeholder="City" minlength="2" maxlength="50" >
                  <div class="invalid-feedback">
                    Please provide a valid City: 2 - 50 characters.
                  </div>
                </div>
                <div class="form-group col-md-4 col-xs-4 text-left ">
                  <label>Province <span style="color: red">*</span></label>
                  <select name="province" class="custom-select">
                    <option selected value="BOHOL">Bohol</option>
                    <option value="CEBU">Cebu</option>
                    <option value="MANILA">Manila</option>
                  </select>
                </div>
                <div class="form-group col-md-4 col-xs-4 text-left ">
                  <label>Zip Code <span style="color: red">*</span></label>
                  <input name="zipcode" id="input-text" type="text" class="form-control" placeholder="Zip Code" minlength="3" maxlength="4" >
                  <div class="invalid-feedback">
                    Please provide a valid Zip Code: 3 - 4 digits.
                  </div>
                </div>
              </div>
            </div>
            <!-- Address Tab End -->

            <!-- Spouse Details Tab Start -->
            <div class="tab w3-center w3-animate-left" id="customer-tab-content">
              <div class="form-row">
                <div class="col-md-12 mb-4 text-primary">
                  <h2 class="text-center">Spouse Details</h2>
                </div>
                <div class="form-group col-md-4 text-left ">
                  <label>Spouse Name</label>
                  <input name="spouse_name" id="input-text" type="text" class="form-control" placeholder="Spouse Name" minlength="2" maxlength="50">
                  <div class="invalid-feedback">
                    Please provide a valid Spouse Name: 2 - 50 characters.
                  </div>
                </div>
                <div class="form-group col-md-4 text-left ">
                  <label>Spouse Occupation</label>
                  <input name="spouse_occupation" id="input-text" type="text" class="form-control" placeholder="Spouse Occupation" minlength="2" maxlength="50" >
                  <div class="invalid-feedback">
                    Please provide a valid Spouse Occupation: 2 - 50 characters.
                  </div>
                </div>
                <div class="form-group col-md-4 text-left ">
                  <label>No. Of Children</label>
                  <input name="no_children" id="input-text" type="number" min="0" max="50" class="form-control" placeholder="No. of Children" >
                </div>
              </div>
            </div>
            <!-- Spouse Details Tab End -->

            <!-- Profile Tab Start -->
            <div class="tab w3-animate-left" id="customer-tab-content">
              <div class="form-row">
                <div class="col-md-12 mb-4 text-primary">
                    <h2 class="text-center">Profile</h2>
                </div>
                <div class="col-md-12">
                  <div class="avatar-wrapper">
                    <img class="profile-pic" src="" />
                    <div class="upload-button">
                      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <input name="image" class="file-upload" type="file" accept="image/*"/>
                  </div>
                </div>
              </div>
            </div>
            <!-- Profile Tab End -->

          </div>
          <!-- Form Container End -->

          <!-- Navigation Buttons -->
          <div class="forms-btn form-row" style="overflow:auto; display: fixed;display: fixed;">
            <div class="form-group col-md-4 col-sm-6">
              Fields <span style="color: red">*</span> are required.
            </div>
            <div class="form-group col-md-4 col-sm-6">
              <button class="btn btn-outline-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-6">
              <button class="js-btn-next btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
              <button class="js-btn-next btn btn-primary d-none btn-success" type="submit" id="submitBtn">Submit</button>
            </div>
            </div>
          </div>

        </form>
        <!-- Customer Form End -->

      </div>
    {% endblock %}

    {% block scripts %}
      <!-- Form Scripts -->
      <script src="{% static './js/app-customer.js' %}"></script>
      <script src="{% static './js/fetch/customer-register-fetch.js'%}"></script>

      <script src="{% static './js/modal-js/upload.js' %}" type="text/javascript"></script>
      
      <!-- Bootstrap Scripts -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% endblock %}
